<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Finder</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryUtilities</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>Accepts any string input (e.g. file paths)</string>
		<key>AMDNote</key>
		<string>You should ensure that the remote machine is setup to such that it can be woken up via network interfaces.</string>
		<key>AMDOptions</key>
		<string>You must supply the MAC and IP addresses for the remote machine.</string>
		<key>AMDRequires</key>
		<string>A remote machine setup to to be wakeable via the network</string>
		<key>AMDResult</key>
		<string>Passes filenames, etc through to next action</string>
		<key>AMDSummary</key>
		<string>Wakes a remote machine from a sleeping state</string>
		<key>AMDWebsite</key>
		<string>http://interblah.net/wake-remote-machine-automator-action</string>
	</dict>
	<key>AMIconName</key>
	<string></string>
	<key>AMKeywords</key>
	<array>
		<string>wake</string>
		<string>lan</string>
		<string>wan</string>
		<string>sleep</string>
	</array>
	<key>AMName</key>
	<string>Wake Machine</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.string</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>(* Action name to be suggested to add prior to this action to make the task safer, e.g. com.apple.Automator.CopyFiles, goes here. *)</string>
		<key>ApplyButton</key>
		<string>(* Button label for user to add proposed Action, e.g. Add. *)</string>
		<key>IgnoreButton</key>
		<string>(* Button label for user not to add proposed Action, e.g. Don&apos;t Add. *)</string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string>(* Warning message presented to user goes here. *)</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.0.1, Copyright © 2009 lazyatom.com, All Rights Reserved</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.Automator.${PRODUCT_NAME:identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009 lazyatom.com, All Rights Reserved.</string>
	<key>NSPrincipalClass</key>
	<string>AMShellScriptAction</string>
</dict>
</plist>
